@using Raizen.Framework.Web.MVC.Extensions
@using Raizen.Framework.Web.MVC.Models
@using Raizen.Framework.Models
@using Raizen.Framework.Utils.Extensions

@model Raizen.UniCad.Web.Models.ModelUsuario
@{
    var mensagemOperacao = Html.Raw((Model.Resultado == null || string.IsNullOrEmpty(Model.Resultado.Mensagem) ? @"""""" : @"""" + Model.Resultado.Mensagem + @""""));
    var dadosValidacoes = Html.Raw((Model.ValidacoesModelo.IsNullOrEmpty() ? @"""""" : Json.Encode(Model.ValidacoesModelo)));
    var contemErros = Html.Raw((string.IsNullOrEmpty(Model.ContemErrosModel) ? @"""N""" : @"""" + Model.ContemErrosModel + @""""));

    var tabIndiceCrudEdicao = new int[2];
    tabIndiceCrudEdicao[0] = 4;
    tabIndiceCrudEdicao[1] = 5;

}
<script type="text/javascript" src="@Url.ResolverUrlComVersao("~/Content/js/Raizen/UniCad/Raizen.UniCad.Mensagens.js")"></script>
<script type="text/javascript" src="@Url.ResolverUrlComVersao("~/Content/js/Raizen/UniCad/Raizen.UniCad.Usuario.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        raizenCoreJs.raizenCRUD.urlPesquisa = '@Url.Action("Pesquisar", "Usuario")';
        raizenCoreJs.raizenCRUD.urlNovo = '@Url.Action("Novo", "Usuario")';
        raizenCoreJs.raizenCRUD.urlExcluir = '@Url.Action("ExcluirRegistro", "Usuario")';

        raizenCoreJs.raizenMensagens.MensagemOperacao = @mensagemOperacao;
        raizenCoreJs.raizenMensagens.ContemErros = @contemErros;
        raizenCoreJs.raizenMensagens.ValidacoesModel = @dadosValidacoes;
        raizenCoreJs.raizenMensagens.ExibirMensagemOperacao();
    });
</script>
@*Parte de Filtros*@
<form id="frmPesquisa" class="form-horizontal">

    @Html.HiddenFor(model => model.Operacao, new { @Id = "IdOperacaoCRUDEdit" })
    @Html.HiddenFor(model => model.ChavePrimaria)
    @Html.HiddenFor(model => model.Operacao, new { @Id = "IdOperacaoCRUD" })
    @Html.HiddenFor(model => model.OperacaoSecundaria, new { @Id = "IdOperacaoSecundariaCRUD" })

    @Html.HiddenFor(model => model.PaginadorDados.PaginaAtual)
    @Html.HiddenFor(model => model.PaginadorDados.QtdePaginas)
    @Html.HiddenFor(model => model.PaginadorDados.QtdeItensPagina)
    @Html.HiddenFor(model => model.PaginadorDados.QtdeTotalRegistros)
    @Html.HiddenFor(model => model.PaginadorDados.Status)


    <div class="row">
        @Html.BootstrapTextBoxFor(model => model.Filtro.Nome, null, "Nome", null, new HtmlHelperOption() { colunas = "col-md-3" })
        @Html.BootstrapTextBoxFor(model => model.Filtro.Login, null, "Login", new { maxlength = 100 }, new HtmlHelperOption() { colunas = "col-md-2" })
        @Html.BootstrapDropDownListFor(model => model.Filtro.Perfil, new SelectList(PerfilDelegate.Listar(true).OrderBy(p => p.Nome), "Nome", "Nome"), "Perfil", null, new HtmlHelperOption() { colunas = "col-md-3" })
        @Html.BootstrapDropDownListFor(model => model.Filtro.Status, new SelectList(GenericDelegate.AtivoInativo(), "Flag", "Nome"), "Status", null, new HtmlHelperOption() { colunas = "col-md-2" })
        @Html.BootstrapDropDownListFor(model => model.Filtro.IDPais, new SelectList(GenericDelegate.ListarPais(), "Value", "Key"), "País", null, new HtmlHelperOption() { colunas = "col-md-2" })
    </div>

    <div class="row" id="containerBotoes">
        <div class="col-md-5">
            <div class="form-group">
                <label class="col-sm-5 control-label"></label>
                <div class="col-sm-12">
                    <div class="btn-group center" style="float: none;">
                        <button class="btn btn-custom" type="button" tabindex="4" onclick="raizenCoreJs.raizenCRUD.RealizarPesquisa();">
                            <i class="fa fa-search"></i> Pesquisar
                        </button>
                        @if (Raizen.Framework.UserSystem.Client.UserSession.GetCurrentInfoUserSystem().InformacoesPermissao.FirstOrDefault(p => p.MVCController == "Usuario" && p.NomeAcao == "Adicionar") != null)
                        {
                            <button class="btn btn-custom" type="button" acaopermissao="add" tabindex="5" onclick="raizenCoreJs.raizenCRUD.Novo();">
                                <i class="fa fa-plus-square-o"></i> Novo
                            </button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="divide-1"></div>

@*Resultado da Pesquisa*@

<div id="datatable2_wrapper" class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
        @if (!Model.ListaUsuario.IsNullOrEmpty())
        {
            <div class="col-md-12">
                <table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="5" align="center">
                                Foram encontrados: @Model.PaginadorDados.QtdeTotalRegistros.ToString() registros
                            </th>
                        </tr>
                        <tr>
                            <th>Nome</th>
                            <th>Login</th>
                            <th>Perfil</th>
                            <th>Status</th>
                            <th>País</th>
                            <th style="text-align:center">Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var app in Model.ListaUsuario)
                        {
                            string funcaoEdit = "raizenCoreJs.raizenCRUD.EditarRegistro('" + @app.ID.ToString() + "','" + Url.Action("Editar", "Usuario") + "');";

                            <tr class="gradeX">
                                <td style="width: 25%; word-wrap: break-word">
                                    @app.Nome
                                </td>
                                <td style="width: 20%; word-wrap: break-word">
                                    @app.Login
                                </td>
                                <td style="width: 15%; word-wrap: break-word">
                                    @app.Perfil
                                </td>
                                <td style="width: 15%; word-wrap: break-word">
                                    @(app.Status ? "Ativo" : "Inativo")
                                </td>
                                <td style="width: 10%; word-wrap: break-word">
                                    @app.IDPais.ToString()
                                </td>
                                <td align="center" style="width: 15%;">
                                    <div class="btn-group center" style="float: none;">
                                        @if (Raizen.Framework.UserSystem.Client.UserSession.GetCurrentInfoUserSystem().InformacoesPermissao.FirstOrDefault(p => p.MVCController == "Usuario" && p.NomeAcao == "Editar") != null)
                                        {
                                            <button class="btn btn-custom" type="button" title="Editar Usuario" onclick="@Html.Raw(funcaoEdit)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-custom" type="button" title="Ver Usuario" onclick="@Html.Raw(funcaoEdit)">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        }
                                        @if (Raizen.Framework.UserSystem.Client.UserSession.GetCurrentInfoUserSystem().InformacoesPermissao.FirstOrDefault(p => p.MVCController == "Usuario" && p.NomeAcao == "Excluir") != null)
                                        {
                                            <button class="btn btn-custom" type="button" title="Remover" onclick="raizenCoreJs.raizenCRUD.ExcluirRegistro(@app.ID);">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="row">
        @Html.Partial("_Paginador", Model)
    </div>
</div>

<div id="divUsuarios"></div>