@using Raizen.Framework.Utils.Extensions
@using Raizen.Framework.Web.MVC.Extensions;

@model Raizen.UniCad.Web.Models.ModelComposicao
@{
    var mensagemOperacao = Html.Raw((Model.Resultado == null || string.IsNullOrEmpty(Model.Resultado.Mensagem) ? @"""""" : @"""" + Model.Resultado.Mensagem + @""""));
    var dadosValidacoes = Html.Raw((Model.ValidacoesModelo.IsNullOrEmpty() ? @"""""" : Json.Encode(Model.ValidacoesModelo)));
    var contemErros = Html.Raw((string.IsNullOrEmpty(Model.ContemErrosModel) ? @"""N""" : @"""" + Model.ContemErrosModel + @""""));
    var urlValidacao = @Url.Action("ValidarObjetos", "Composicao");

    ViewBag.Title = "Composição";
    ViewBag.TituloModulo = "Composição";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tabIndexToolBoxCrudPesquisa = new int[2];
    tabIndexToolBoxCrudPesquisa[0] = 3;
    tabIndexToolBoxCrudPesquisa[1] = 4;
}

<style>
    .kv-fileinput-caption {
        padding: 0;
        padding-top: 5px;
        padding-bottom: -5px;
        padding-left: 5px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        RaizenCoreJs.prototype.Composicao.urlSalvar = '@Url.Action("Salvar", "Composicao")';
        RaizenCoreJs.prototype.Composicao.urlVoltar = '@Url.Action("Index", "Composicao")';
        RaizenCoreJs.prototype.Composicao.urlComposicao = '@Url.Action("Index", "Composicao")';

        raizenCoreJs.raizenMensagens.MensagemOperacao = @mensagemOperacao;
        raizenCoreJs.raizenMensagens.ContemErros = @contemErros;
        raizenCoreJs.raizenMensagens.ValidacoesModel = @dadosValidacoes;
        raizenCoreJs.raizenMensagens.ExibirMensagemOperacao();
        raizenCoreJs.raizenHelpers.urlValidacao = "@urlValidacao";
    });
</script>

<div class="box border raizen" style="margin-top:10px" onkeypress="return raizenCoreJs.raizenHelpers.EnterSalvar(event);" id="containerEdicao">
    @{Html.RenderPartial("_Edicao", Model);}
</div>