@using Raizen.Framework.Web.MVC.Extensions
@using Raizen.Framework.Web.MVC.Models
@using Raizen.Framework.Models
@using Raizen.Framework.Utils.Extensions
@using Raizen.UniCad.Model;

@model Raizen.UniCad.Web.Models.ModelPlaca
@{
    var mensagemOperacao = Html.Raw((Model.Resultado == null || string.IsNullOrEmpty(Model.Resultado.Mensagem) ? @"""""" : @"""" + Model.Resultado.Mensagem + @""""));
    var dadosValidacoes = Html.Raw((Model.ValidacoesModelo.IsNullOrEmpty() ? @"""""" : Json.Encode(Model.ValidacoesModelo)));
    var contemErros = Html.Raw((string.IsNullOrEmpty(Model.ContemErrosModel) ? @"""N""" : @"""" + Model.ContemErrosModel + @""""));

    var tabIndiceCrudEdicao = new int[2];
    tabIndiceCrudEdicao[0] = 4;
    tabIndiceCrudEdicao[1] = 5;

}
<script type="text/javascript" src="@Url.ResolverUrlComVersao("~/Content/js/Raizen/UniCad/Raizen.UniCad.Mensagens.js")"></script>
<script type="text/javascript" src="@Url.ResolverUrlComVersao("~/Content/js/Raizen/UniCad/Raizen.UniCad.Placa.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        raizenCoreJs.raizenCRUD.urlPesquisa = '@Url.Action("Pesquisar", "Placa")';
        raizenCoreJs.raizenCRUD.urlNovo = '@Url.Action("Novo", "Placa")';
        raizenCoreJs.raizenCRUD.urlExcluir = '@Url.Action("ExcluirRegistro", "Placa")';

        raizenCoreJs.raizenMensagens.MensagemOperacao = @mensagemOperacao;
        raizenCoreJs.raizenMensagens.ContemErros = @contemErros;
        raizenCoreJs.raizenMensagens.ValidacoesModel = @dadosValidacoes;
        raizenCoreJs.raizenMensagens.ExibirMensagemOperacao();
    });
</script>
@*Parte de Filtros*@
<form id="frmPesquisa" class="form-horizontal">

    @Html.HiddenFor(model => model.Operacao, new { @Id = "IdOperacaoCRUDEdit" })
    @Html.HiddenFor(model => model.ChavePrimaria)
    @Html.HiddenFor(model => model.Operacao, new { @Id = "IdOperacaoCRUD" })
    @Html.HiddenFor(model => model.OperacaoSecundaria, new { @Id = "IdOperacaoSecundariaCRUD" })

    @Html.HiddenFor(model => model.PaginadorDados.PaginaAtual)
    @Html.HiddenFor(model => model.PaginadorDados.QtdePaginas)
    @Html.HiddenFor(model => model.PaginadorDados.QtdeItensPagina)
    @Html.HiddenFor(model => model.PaginadorDados.QtdeTotalRegistros)
    @Html.HiddenFor(model => model.PaginadorDados.Status)
    
    <div class="row">
        @Html.BootstrapTextBoxFor(model => model.Filtro.PlacaVeiculo, null, "Placa", null, new HtmlHelperOption() { colunas = "col-md-3" })
        @Html.BootstrapDateBoxFor(model => model.Filtro.DataAtualizacao, "Data de Atualização", null, new HtmlHelperOption() { colunas = "col-md-3" })
    </div>

    <div class="row" id="containerBotoes">
        <div class="col-md-5">
            <div class="form-group">
                <label class="col-sm-5 control-label"></label>
                <div class="col-sm-12">
                    <div class="btn-group center" style="float: none;">
                        <button class="btn btn-custom" type="button" tabindex="4" onclick="raizenCoreJs.raizenCRUD.RealizarPesquisa();">
                            <i class="fa fa-search"></i> Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="divide-1"></div>

@*Resultado da Pesquisa*@

<div id="datatable2_wrapper" class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
        @if (!Model.ListaPlaca.IsNullOrEmpty())
        {
            <div class="col-md-12">
                <table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="5" align="center">
                                Foram encontrados: @Model.PaginadorDados.QtdeTotalRegistros.ToString() registros
                            </th>
                        </tr>
                        <tr>                            
                            <th>Placa</th>
                            <th>Data de Atualização</th>
                            <th>Tipo do Veículo</th>
                            <th style="text-align:center">Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var app in Model.ListaPlaca)
                        {
                            string funcaoEdit = "raizenCoreJs.raizenCRUD.EditarRegistro('" + @app.ID.ToString() + "','" + Url.Action("Editar", "Placa") + "');";

                            <tr class="gradeX">
                                <td style="width: 25%; word-wrap: break-word">
                                    @app.PlacaVeiculo
                                </td>
                                <td style="width: 25%; word-wrap: break-word">
                                    @app.DataAtualizacao
                                </td>
                                <td style="width: 25%; word-wrap: break-word">
                                    @EnumExtensions.GetDescription((EnumTipoVeiculo)(app.IDTipoVeiculo))
                                </td>
                                <td align="center" style="width: 15%;">
                                    <div class="btn-group center" style="float: none;">
                                        <button class="btn btn-custom" type="button" title="Remover" onclick="raizenCoreJs.raizenCRUD.ExcluirRegistro(@app.ID);">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <div class="row">
        @Html.Partial("_Paginador", Model)
    </div>
</div>

<div id="divPlacas"></div>