@model List<Raizen.UniCad.Model.View.AgendamentoTerminalHorarioView>

<div class="box border raizen" onkeypress="return raizenCoreJs.raizenHelpers.EnterSalvar(event)">
    <div class="box-title">
        <h4><i class="fa fa-columns"></i><span class="hidden-inline-mobile">Históricos Disponíveis</span></h4>
    </div>
    <div class="box-body" style="max-height:170px; overflow-x:auto">
        <table id="docTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
            <thead>
                <tr class="table-raizen">
                    <th style="word-wrap: break-word; width:15%">
                        Horário
                    </th>
                    <th style="word-wrap: break-word; width:35%">
                        Endereço
                    </th>
                    <th style="word-wrap: break-word; width:25%">
                        Cidade
                    </th>
                    @if (Model != null && Model.Any(p => !p.Bloqueado))
                    {
                        <th style="word-wrap: break-word; width:10%">
                            Vagas
                        </th>
                    }
                    <th style="word-wrap: break-word; width:5%">
                        Operações
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var horario in Model)
                {
                    if (i == 0)
                    {
                        <script>

                            var arquivo = '@(horario.Anexo)';
                            var link = '@Url.Action("Download", "Arquivo")?file=@(horario.Anexo)';

                            if (arquivo != '') {
                                $('#download').attr('onclick', 'window.location.href = "' + link + '";');
                                $('#download').fadeIn();
                            }
                            else {
                                $('#download').attr('onclick', '');
                                $('#download').fadeOut();
                            }
                        </script>
                    }
                    <tr>
                        <td style="word-wrap: break-word">@horario.HoraInicio.ToString().Substring(0, 5)</td>
                        <td style="word-wrap: break-word">@horario.Endereco</td>
                        <td style="word-wrap: break-word">@horario.Cidade</td>
                        @if (Model != null && Model.Any(p => !p.Bloqueado))
                        {
                            <td style="word-wrap: break-word">
                                @if (!horario.Bloqueado)
                                {
                                    <p>@horario.NumVagas</p>
                                }
                            </td>
                        }
                        <td align="center" style="width: 15%;">
                            <div class="btn-group center" style="float: none;">
                                @if (!horario.Bloqueado)
                                {
                                    if (horario.Data >= DateTime.Now.Date)
                                    {
                                    <button class="btn btn-custom" type="button" title="Inscrever" style="width: 100px;" onclick="raizenCoreJs.AgendamentoChecklist.InscreverConfirm(@horario.ID)">
                                        <span class="fa fa-arrow-down"></span>
                                        Inscrever
                                    </button>
                                    }
                                }
                                else
                                {
                                    <button class="btn btn-custom" disabled style="width: 100px;background-color:rgb(88, 185, 87); border-color:rgb(88, 185, 87)" type="button" title="Inscrito" onclick="raizenCoreJs.AgendamentoChecklist.InscreverConfirm(@horario.ID)">
                                        <span class="fa fa-check"></span>
                                        Inscrito
                                    </button>
                                }
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>

</div>

<br />
